@import url(./theme.css);
@import url(./font.css);
@import url(./responsive.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
    font-size: 14px;
}

#main-wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: 100svh;
}
#main-wrapper .main-content{
    padding-right: var(--sidebar-open-width) ;
    width: 100%;
}
#main-wrapper.collapsed .main-content{
    padding-right: var(--sidebar-collapsed-width) ;
}
#main-wrapper.collapsed .sidebar{
    width: var(--sidebar-collapsed-width);
}

#main-wrapper.collapsed .main-content header{
    right: var(--sidebar-collapsed-width);
}
#main-wrapper .sidebar{
    height: 100%;
    width: var(--sidebar-open-width);
    position: fixed;
    inset: 0 0 0 unset;
    z-index: 99;
}
#main-wrapper .main-content header{
    position: fixed;
    top: 0;
    left: 0;
    right: var(--sidebar-open-width);
    height: 50px;
    z-index: 99;
}
#main-wrapper .sidebar-header .username{
    margin-top: -2rem;
}
#main-wrapper .accordion *{
    background: transparent;
    color: var(--bs-light);
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;
    transition: 0.2s;
}
#main-wrapper .accordion-item{
    margin-bottom: 8px;
}
#main-wrapper .accordion-button:not(.collapsed){
    background-color: var(--bs-primary-dark--100);
}

#main-wrapper .accordion-button::after{
    display: none;
}
#main-wrapper .accordion-button.collapsed .arrow{
    transform:  rotate(0deg);
}
#main-wrapper .accordion-button .arrow{
    transform:  rotate(-90deg);
    background-color: var(--bs-primary-dark--100);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
}
#main-wrapper .accordion-body a.active{
    background: var(--bs-primary-dark--100);
    border-right: 6px solid var(--bs-primary-dark--800);
}
#main-wrapper .main-content header{
    height: 50px;
}
#main-wrapper .main-content header .title{
    color: var(--bs-primary-dark--900);
}
#main-wrapper .main-content header .left-side .bi{
    height: 36px;
}
#main-wrapper .main-content header .dropdown *{
    color: white;
}
#main-wrapper .main-content header .dropdown .dropdown-item:hover{
    background: var(--bs-primary-dark--100);
}



section.main-content div.nav-tabs {
    background: var(--bs-grey);
    height: 58px;
    border-bottom: 0;
}
section.main-content div.nav-tabs *{
    background: transparent !important;
    border-radius: 0;
    border: none;
    color: var(--bs-secondary-color);
}
section.main-content div.nav-tabs button.active{
    color: var(--bs-primary);
    border: 1px dashed var(--bs-primary);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
section.main-content div.nav-tabs button.active small{
    color: inherit;
}
.tickets{
    border: 1px solid  var(--bs-grey);
}
.tab-content{
    
}
.ticket-info span  {
    display: inline-flex;
    width: 20%;
    font-weight: 300;
}
.bi-cart{
    position: relative;
}
.bi-cart::after{
    position: absolute;
    content: " 0 ";
    color: white;
    background: var(--bs-primary);
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -4px;
    width: 16px;
    height: 16px;
    right:  -8px;
    font-size: 16px;
    padding-bottom: 8px;
}


/* Ticket List */
.colored-wrapper {
    padding: 18px 16px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 4px #0002;
}
.colored-wrapper .light-icon {
    position: absolute;
    left: -50px;
    font-size: 13rem;
    color: white;
    opacity: 0.2;
    top: -6.5rem;
    transform: rotate(-45deg);
}
.colored-wrapper i:first-of-type {
    font-size: 20px;
    margin-left: 8px;
}

.colored-wrapper.A {
    background: linear-gradient(0deg, #ffa60d, #ff6e00);
}
.colored-wrapper.B {
    background: linear-gradient(0deg, #00a7ff, #008bff);
}
.colored-wrapper.C {
    background: linear-gradient(0deg, #3970eb, #6955e6);
}
.colored-wrapper.D {
    background: linear-gradient(0deg, #a851ff, #b12fff);
}
.colored-wrapper.E {
    background: linear-gradient(0deg, #00baa1, #00c57f);
}
.colored-wrapper.F {
    background: linear-gradient(0deg, #ff2c74, #ff1f45);
}
.colored-wrapper.G {
    background: linear-gradient(0deg, #ffb117, #ffdc00);
}
.colored-wrapper.H {
    background: linear-gradient(0deg, #fe83c0, #ea1cdc);
}
.table-wrapper{
    overflow: hidden;
    width: 100%;
}
.ticket-list-page table {
    min-width: 700px;
}
.ticket-list-page table tbody tr:nth-last-of-type(odd){
    background-color: #efefef;
}
.ticket-list-page .balance-card{
    background: linear-gradient(45deg, #065c97, #2488e0, #7a5efa);
}
.ticket-list-page .balance-card img{
    filter: grayscale(1) brightness(100);
}
.ticket-list-page .balance-card .foot{
    background: #2d45aa;
}
.ticket-list-page .add-credit{
    background: #00c851;
    border: none;
}
.ticket-list-page .transactions{
    background: #33b5e5;
}
.ticket-list-page .userinfo{
    background: linear-gradient(45deg, #50bf8f, #92dcb5);
    font-size: 14px;
}
.ticket-list-page .userinfo img{
    border: 6px solid #8fd8b7;
    border-radius: 50%;
}
.ticket-list-page .infocard{
    display: flex;
    place-items: center ;
    background: linear-gradient(45deg, #ebedf0, #d9e0e6);
    border: none;
    padding: 24px;
    font-size: 14px;
}
.search-box{
    position: relative;
    width: 50%;
}
.search-box .bi{
    position: absolute;
    right: 8px;
    top: 6px;
}
.search-box input{
    padding-right: 32px;
}
td .chat-count{
    background: var(--bs-dark-border-subtle);
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    width: 24px;
    height: 24px;
}
.help-items{
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
}
.help-items .help-item{
    width: 200px;
}
.status-help {
    border-color: #d3ebf6;
}
.status-help .card-header{
    background: linear-gradient(0, #c0e3f2, #d3ebf6);
}


/* DOMAINS */
.domains-page thead th {
    background: #a6dce8;
}
.domains-page  th, .domains-page  td{
    align-items: center;
    vertical-align: middle;
}
.domains-page  tbody tr:nth-of-type(odd) {
    background: #f2f2f2;
}
.domains-page tr > *:first-of-type{
    width: 50px;
    text-align: center;
}

.domains-page tr > *:first-of-type > .bi{
    display: none;
}
.domains-page tr:hover > *:first-of-type > .bi{
    display: block  ;
}

.domains-page .actions{
    display: flex;
    column-gap: 4px;
}
.domains-page [type=checkbox]{
    border-color: var(--bs-gray-500);
}
.domains-page .actions button small{
    display: grid;
    place-items: center;
}
.domains-page .actions button{
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: white;
    border: none;
    box-shadow: 2px 0 6px 2px #0002;
    width: 24px;
    height: 24px;
}
.domains-page .page-tabs {
    margin-bottom: 6px;
}
.domains-page table {
    min-width: 850px ;
}
.domains-page .page-tabs .btn{
    border: none;
    padding-block: 7px;
    font-size: 13px;
    border-radius: 0;
}
.domains-page .page-tabs button.active{
    border-bottom: 2px solid var(--bs-primary);
    color: var(--bs-primary);
}
.credit-page .heading-card .card-body{
    border: 1px solid var(--bs-gray-200);
    border-top: 0;
}